* {
	box-sizing: border-box;

}

/* HEADER*/
.logo-bar {
	background-color: black;
	height: 36px;
	text-align: center;
	width: 100%;
	text-decoration: none;
}
h1 {
	color: white;
	margin-top: 0px;
	margin-bottom: 0px;
}
.home-button {
	position: absolute;
    top: 5px;
    left: 11px;
    z-index: 100;
}
.home-button a {
	color: #c3c3c3a6;
}
i.fa.fa-home {
	font-size: 26px;
}

/*NAVIGATION BAR */
.nav-1 {
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	border-bottom: 1px solid #E5E5E5;
	
}
.nav-1 a {
	text-decoration: none;
	font-style: normal;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 36px;
    color: black;
}
.nav-1 a:hover {
	text-decoration: underline;
	color: black;
	cursor: pointer;
}
.nav-link {
	display: inline-block;
	border: 1px solid #E5E5E5;
    border-top: 0;
    border-bottom: 0;
    height:36px;
    font-size: 1em;
    width: 20%;
    margin-right: -5px;
}

/* BANNER PHOTO */
.banner-photo {
	background: url(https://images.pexels.com/photos/458555/pexels-photo-458555.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940) no-repeat center top;
    height: 734px;
    background-size: 100%;
    text-align: center
}
.main-title {
	padding-top: 145px;
    color: white;
    font-size: 40px;
    font-weight: 800;
}
.signup-button {
	border: 3px white solid;
	width: 209px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 12px;
    padding-bottom: 11px;
}
.signup-button a {
	text-decoration: none;
	font-size: 30px;
	color: white;
	text-transform: uppercase;
}

/* MAIN*/
.website-description {
	text-align: center;
}
.website-description p {
	font-size: 24px;
    font-style: italic;
    padding-left: 30px;
    padding-right: 30px;
}
h3 {
	font-size: 30px;
}
.img-container {
	text-align: center;
}
.img-container img {
	width: 75%;
}

/* LOGIN PAGE  and SIGNUP PAGE*/
.login-screen, .signup-page-screen {
	text-align: center;
}
fieldset {
	border: none;
}
.login-header {
	border-bottom: 2px solid #000;
    margin-top: 72px;
    font-size: 36px;
    width: 73%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 52px;
}

input[type="email"], input[type="password"] {
	display: block;
    width: 322px;
    padding: 5px;
    margin: 10px auto 20px auto;
    font-size: 18px;
    border: 2px solid #e6e6e6;
    background-color: #f2f2f2;
}
label {
	font-size: 18px;
}
.js-login-button, .js-signup-button {
	width: 106px;
    padding: 3px;
    background-color: #f2f2f2;
      transition: background-color 0.5s ease;

}
.js-login-button:hover, .js-signup-button:hover {
	cursor: pointer;
	background-color: #a9a9a9bf;
}

/* USER DASHBOARD*/
.user-dashboard {
	text-align: center;
}
.dashboard-header {
	border-bottom: 2px solid #000;
    margin-top: 72px;
    font-size: 36px;
    width: 73%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 52px;
}

.entry {
	background-color: #F2F2F2;
    height: 400px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 200px;

}
.entry a,  .entry-photo a{
	color: black;
    font-size: 38px;
    text-decoration: none;
    border-bottom: 1px solid black;
    text-transform: uppercase;   
}
h4 {
	font-style: italic;
}

/*ADD/EDIT ENTRY SCREEN */
.edit-journal-entry {
	text-align: center;
}
input#journal-title {
	width: 500px;
    border: none;
    font-size: 22px;
    border-bottom: 1px solid gray;
    margin-bottom: 10px;
}
.entry-photo {
	background-color: #F2F2F2;
    height: 400px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 200px;
    margin-bottom: 15px;
}
input#journal-description, input#entry-best-memory, input#entry-foreign-words {
	width: 500px;
    height: 75px;
    margin-bottom: 15px;
    border: none;
    border-bottom: 1px solid gray;
}
.save, .cancel {
	width: 99px;
    border: none;
    cursor: pointer;
    border-right: 1px solid gray;
    border-left: 1px solid gray;
    font-size: 21px;
    text-transform: uppercase;
    margin-right: -5px;
    margin-bottom: 20px;
}
.save-delete {
	margin-top: -52px;
}
